.social-icon{
  margin: 0 5px;
}


.address-info{
  width: 320px;
  background: rgb(210, 196, 196);
  height: 225px;
  font-size: x-small;
  padding: inherit;
  padding: 11px;
  margin: 10px;
}

.cus-img{
  width: 180px;
  height: auto;
}
.MyLoginForm{
  width: 40%;
  margin: 20px 190px;
  height: 300px;

}
.SignUpForm{
  width: 40%;
  margin: 20px 190px;
  /* height: 300px; */
}