.social-icon{
  margin: 0 5px;
}


.cus-img{
  width: 180px;
  height: auto;
}
.MyLoginForm{
  width: 40%;
  margin: 20px 190px;
  height: 300px;

}
.SignUpForm{
  width: 40%;
  margin: 20px 190px;
  /* height: 300px; */
}